.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


.nav-bar li{
	display: inline;
	padding: 40px;


}

.nav-bar ul{
	margin: 0;
	border: 3px solid black;

}


#nav-bar a {
	
	text-decoration: none;
	color: white;
	font-size: 25px;
	text-align: center;

}

/*.leftSide {
	float: left;
}*/

/*.container {
  display: inline-block;

}
*/
#game-board {
	height: 350px;
	width: 650px;
	background-image: url("../images/tablecloth.jpg");
	border: 2px solid black;
	/*display: flex;
	justify-content: center;	*/
	margin-top: 10px;
	display: inline-block;	
}


.jumbotron {
	background-color: rgba(211, 211, 211, .9);
  
}


header {
	background-image: url("../images/bannerpaper.jpg");
  background-repeat: repeat-x;
  background-position: center;
/*	background-color: #800000;
*/	border: 2px solid black;
	/*padding: px;*/
	/*margin: 0;*/
}

body{
  /*display: flex;
  flex-direction: column;
  align-content: : center;
  justify-content: center;*/
	text-align: center;
	background-image: url("../images/saloon-bg.jpg");
  background-size: 1500px;
  background-position: center;
  background-repeat: no-repeat


}

h3 {
	text-decoration: underline;
	/*color: white;*/
}

#nav-bar {
/*background-color: #800000;	
*//*ackground-image: url("../images/tablecloth.jpg");*/
height: 20px;
background-image: url("../images/bannercloth.jpg");

	
}

.main-banner img{
	width: 500px;
	padding-top: 10px;
	/*position: 0 0 5 0;*/

}

/*#blackjack-cards {	
	border: 2px solid black;
	float: left;
	width: 400px;
	/*padding-left: 70px;
	

}*/

/*.card-columns img {
	height: 150px;
	width: 100px;
	padding: 20px 0 0 0;	
}*/



* {
  box-sizing: border-box;
}


.btn  {
  width: 20%;
  height: 55px;
}


.computer-value {
  text-align: right;
  font-size: 2.5rem;
  color: white;
  /*display: flex;
  flex-direction: column;
  align-content: center;*/
  
}

.player-value {
  text-align: left;
  font-size: 2.5rem;
  color: white;
  /*display: flex;
  flex-direction: column;
  justify-content: flex-end;*/


}

.title {
  font-size: 3rem;
  margin-bottom: .5rem;
}

.title div {
  float: left;
  width: 50%;
}

.result {
  text-align: center;
  font-size: 5rem;
  color: white;
 
}



  
}

.hide {
  display: none;
}

#cash {
  float: left;
  text-align: center;
  width: 50%;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

#bet {
  float: left;
  text-align: center;
  width: 50%;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  
}

.card-section {
  display: block;
  float: left;
  width: 50%;
  height: 10rem;
}

.single-left {
  background: #f7f7f7;
  color: #373737;
  float: left;
  width: 6.5rem;
  height: 10rem;
  border: 2px solid #373737;
  border-radius: .5rem;
  margin-left: -4.5rem;
  padding: .35rem;

}

.facevalue {
  font-size: 1.35rem;
  margin-left: -4.5rem;
}

.facetype {
  font-size: 1.35rem;
  margin-left: -4.5rem;
}


.red {
  color: #e75757;
}

.first {
  margin-left: 0;
  margin-left: 0;
}

.player {
  text-decoration: underline;
  color: white;

}

.computer {
  text-decoration: underline;
  text-align: center;
  color: white;
}

.computer-section {
  display: flex;
  flex-direction: row-reverse;
}


/*.card:hover{
	background-color: blue;
}*/

p {
	/*color: white;*/
}

.footer a {
  hover
}


.footer {
	clear: both;
  color: white;
}

/*.fa-github-square {
	width: 200px;
	padding: 30px;	
}*/